body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px 1fr;

    grid-template-areas:
        "side header"
        "side main"
    ;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del header*/
.header {
    grid-area: header;
}

a {
    text-decoration: none;
}

#logo {
    position: absolute;
    color: white;
    left: 3%;
    top: 20%;
    font-size: 60px;
}

.search-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 75%;
    top: 25%;
}

.results {
    width: 250px;
    z-index: 500;
    background-color: white;
    visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}

.results .detalle-libro {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: #671faa;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.search-input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    transition: width 0.4s ease-in-out, padding 0.4s ease-in-out;
    font-size: 16px;
    color: #333;
}

.search-button {
    background-color: #671faa;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 5px;
    border: 1px solid transparent;
}

.search-container i {
    position: absolute;
    right: 10px;
    top: 20px;
    color: #fff;
    font-size: 18px;
}

nav {
    background-color: #3c096c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

nav li {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
}

nav li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-icon {
    font-size: 20px;
}

.links {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.sign-out, .button-genero {
    background-color: #671faa;
    padding: 12px 25px;
    border-width: 3px;
    border-radius: 60px;
    border-color: white;
    cursor: pointer;
    font-size: 16px;
    border-style: solid;
}

.sign-out {
    margin: 20px;
    left: 64%;
    position: absolute;
}

.cta-button {
    background-color: #3c096c;
    padding: 12px 25px;
    border-width: 3px;
    border-radius: 60px;
    border-color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    left: 18%;
    position: relative;
    border-style: solid;
}

/*Estilos del sidebar*/
.sidebar {
    background-color: rgb(36, 9, 70);
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    grid-area: side;
}

.sidebar header {
    height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    grid-area: Header;
}

.sidebar header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 20px;
    margin-left: auto;
}

.sidebar #Name_profile {
    list-style-type: none;
    padding: 5px;
    margin-top: 10px;
    font-size: 3vh;
    color: #8e24aa;
}

.sidebar #comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    gap: 20px;
    overflow-y: auto;
    overflow: hidden;
}

.sidebar #comment_area {
    height: 65px;
    width: 90%;
    display: block;
    border-radius: 12px;
    border: 0;
}

.sidebar #comments_button {
    border: 0;
    border: rgb(199, 125, 255);
}

.sidebar #separacion {
    background-color: rgb(123, 44, 191);
    text-align: center;
    margin-left: 40px;
    margin: 40px;
    border-radius: 15px;
}

.sidebar .comment {
    background-color: rgb(123, 44, 191);
    border-radius: 12px;
    width: 90%;
}

#Edit_profile {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 700;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(32, 10, 52, 0.7);
}

.modal-content {
    background: rgb(106, 17, 203);
    margin: 15% auto;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(41, 13, 92, 0.5);
    color: white;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ff4081;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form label {
    margin-bottom: 10px;
}

.modal-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #8e24aa;
    border-radius: 8px;
    transition: all 0.3s ease;
}


.modal-form button {
    background: rgb(142, 36, 170);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.modal-form button:hover {
    transform: scale(1.05);
}

.sidebar .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 150px;
}

.sidebar .footer span {
    font-size: 16px;
    color: rgb(174, 24, 204);
    margin-bottom: 10px;
    text-align: center;
}

.star-rating {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 40px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star-rating label:before {
    content: "☆";
}

.star-rating input:checked+label,
.star-rating label:hover,
.star-rating input:checked~label {
    color: #ffcc00;
}

.star-rating input:checked+label:before,
.star-rating input:checked~label:before {
    content: "★";
}

/*Estilos del main*/

.main {
    background-color: #240046;
    padding: 20px;
    padding: 20px;
    grid-area: main;
    overflow-y: auto;
    overflow: hidden;

}

.carousel-libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    animation: sli;
}

.carousel-libros::-webkit-scrollbar {
    display: none;
}


.libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.contenedor-flip {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.contenedor-flip:hover .flip-libro {
    transform: rotateY(180deg);
}

.flip-libro {
    width: 186.75px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;
    position: relative;
    border-radius: 15px;
}

.libro-frente,
.libro-atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.libro-frente img {
    height: 200px;
    width: 180px;
    border-radius: 15px;
}

.libro-atras {
    background: white;
    transform: rotateY(180deg);
    border-radius: 15px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.libro-atras h3 {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #5A189A;
}

.libro-atras p {
    font-size: 13px;
    margin-top: 10px;
    line-height: 150%;
    color: black;
}

.libro-atras .button {
    padding: 10px 20px;
    background-color: #3c096c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.libro-atras .button:hover {
    background-color: #5A189A;
}

.libro-atras a {
    color: white;
    text-decoration: none;
}