body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 300px 1fr;

    grid-template-areas:
        "side header"
        "side main"
    ;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del header*/
.header {
    grid-area: header;
}

a {
    text-decoration: none;
}

#logo {
    position: absolute;
    color: white;
    left: 3%;
    top: 20%;
    font-size: 60px;
}

.search-container {
    position: absolute;
    display: flex;
    align-items: center;
    left: 71%;
}

.search-input {
    width: 0;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    transition: width 0.4s ease-in-out, padding 0.4s ease-in-out;
    font-size: 16px;
    color: #5A189A;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input.open {
    width: 250px;
    padding: 10px;
}

.search-button {
    background-color: #3c096c;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid transparent;
}

.search-button:hover {
    background-color: #3c096c;
    transform: scale(1.05);
}

.search-container i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
}

nav {
    background-color: #3c096c;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

nav li {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
}

nav li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-icon {
    font-size: 20px;
}

.links {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.cta-button {
    background-color: #3c096c;
    padding: 12px 25px;
    border-width: 3px;
    border-radius: 60px;
    border-color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
    left: 18%;
    position: relative;
    border-style: solid;
}

/*Estilos del sidebar*/
.sidebar {
    background-color: rgb(36, 9, 70);
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    grid-area: side;
}

.sidebar header {
    height: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    grid-area: Header;
}

.sidebar header img {
    width: 50%;
    height: auto;
    border-radius: 70px;
    margin-right: 10px;
    margin-top: 20px;
}

.sidebar #Name_profile {
    list-style-type: none;
    padding: 5px;
    margin-top: 10px;
    font-size: 2vh;
}
.sidebar #comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    gap: 20px;
}
.sidebar #comment_area{
    height: 65px;
    width: 90%;
    display: block;
    border-radius: 12px;
    border: 0;
}
.sidebar #comments_button{
    border: 0;
    border: rgb(199, 125, 255);
}
.sidebar #separacion{
    background-color: rgb(123, 44, 191);
}
.sidebar .comment{
    background-color:rgb(123, 44, 191);
    border-radius: 12px;
    width: 90%;
}

.sidebar .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
}

.sidebar .footer span {
    font-size: 16px;
    color: rgb(174, 24, 204);
    margin-bottom: 10px;
    text-align: center;
}

.star-rating {
    display: flex;
    justify-content: center;
    transform: rotateY(180deg);
}

.star-rating input {
    display: none;
}

.star-rating label {
    font-size: 40px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
}

.star-rating label:before {
    content: "☆";
}

.star-rating input:checked+label,
.star-rating label:hover,
.star-rating input:checked~label {
    color: #ffcc00;
}

.star-rating input:checked+label:before,
.star-rating input:checked~label:before {
    content: "★";
}

/*Estilos del main*/

.main {
    background-color: #240046;
    padding: 20px;
    padding: 20px;
    overflow-y: auto;
    grid-area: main;

}

.libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    grid-area: Libros;
}

.contenedor-flip {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.contenedor-flip:hover .flip-libro {
    transform: rotateY(180deg);
}

.flip-libro {
    width: 186.75px;
    height: 200px;
    transform-style: preserve-3d;
    transition: transform 0.7s ease-in-out;
    position: relative;
    border-radius: 15px;
}

.libro-frente,
.libro-atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.libro-frente img {
    height: 100%;
    border-radius: 15px;
}

.libro-atras {
    background: white;
    transform: rotateY(180deg);
    border-radius: 15px;
    color: #fff;
    text-align: center;
}

.libro-atras h3 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    color: #5A189A;
}

.libro-atras p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.5;
    color: black;
}

.libro-atras .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3c096c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.libro-atras .button:hover {
    background-color: #5A189A;
}

.libro-atras a {
    color: white;
    text-decoration: none;
}