.cta-button {
    left: 22%;
}

.cargar-libro {
    font-family: 'Georgia', serif; 
    font-size: 44px; 
    color: rgb(255, 255, 255); 
    text-align: center; 
    margin: 20px 0; 
}

/*STYLE FORM*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #143449;
    color: #333;
}

.form-container {
    max-width: 1000px;
    margin: 110px auto;
    padding: 60px;
    background: #0b6070;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-page form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

input[type="text"], textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s;
}

input[type="text"]:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: vertical;
}

.button-form {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

input[type="file"] {
    border: none;
    padding: 0;
    margin: 0;
}

/*BOTON ENVIAR FORM*/

.btn {
	border: none;
	font-family: 'Lato';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: block;
	margin: auto;
    margin-top: 34px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


.btn-sep {
	padding: 20px 100px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

.btn-4 {
	background: #143449;
	color: #fff;
}

.btn-4:hover {
	background: #2c3e50;
}

.btn-4:active {
	background: #2c3e50;
	top: 2px;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.icon-cart:before {
	content: "\f07a";
}

.icon-heart:before {
	content: "\f55a";
}

.icon-info:before {
	content: "\f05a";
}

.icon-send:before {
	content: "\f1d8";
}