<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibrosEnRed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_home.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_footer.css')}}">
</head>

<body>
    <nav>
        <i id="logo" class="fa-solid fa-book nav-icon"></i>
        <ul>
            <li><a href="{{url_for('home')}}"><i class="fa-solid fa-home nav-icon"></i> Inicio</a></li>
            <li><a href="#"><i class="fa-solid fa-mobile nav-icon"></i> App</a></li>
            <li><a href="{{url_for('cargar')}}"><i class="fa-solid fa-upload nav-icon"></i> Cargar</a></li>
            <li><a href="{{url_for('perfil')}}"><i class="fa-solid fa-user nav-icon"></i>Perfil</a></li>
        </ul>
        <button class="cta-button"> <a class="links" href="{{url_for('logout')}}">Sign Out</a></button>
        <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Search..." />
            <button id="searchButton" class="search-button">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
    </nav>

{% block categorias %}{% endblock %}
    
    <div class="main-content">
        <h2>Libros</h2>
        <div class="libros">
            <button role="button" id="flecha-izquierda-libros" class="flecha-izquierda-libros"><i class="fas fa-angle-left"></i></button>
            <div class="contenedor-carousel-libros">
                <div class="carousel-libros" id="carousel-libros">
                    {% for libro in libros %}
                        <div class="contenedor-flip">
                            <div class="flip-libro">
                                <div class="libro-frente">
                                    <img src="{{ libro.photo }}" alt="${libro.name}">
                                </div>
                                <div class="libro-atras">
                                    <h3>{{ libro.name }}.</h3>
                                    <p>De {{ libro.author }}.</p>
                                    <p>Género: {{ libro.genre }}.</p>
                                    {% if libro.availability_status == 0 %}
                                        <p>Estado: Disponible.</p>
                                    {% else %}
                                        <p>Estado: No disponible.</p>
                                    {% endif %}
                                    <button class="button">
                                        <a href="{{url_for('detalle',idLibro=libro.id)}}">Ver más</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>    
            </div>
            <button role="button" id="flecha-derecha-libros" class="flecha-derecha-libros"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>

    {% include 'footer.html' %}

    <script src="{{url_for('static', filename='js/script_home.js')}}"></script>
</body>
</html>
