<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibrosEnRed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato' type='text/css'>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_home.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_cargar_libros.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_footer.css')}}">
</head>

<body>
    <nav>
        <i id="logo" class="fa-solid fa-book nav-icon"></i>
        <ul>
            <li><a href="{{url_for('Home')}}"><i class="fa-solid fa-home nav-icon"></i> Inicio</a></li>
            <li><a href="#"><i class="fa-solid fa-mobile nav-icon"></i> App</a></li>
        </ul>
        <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Search..." />
            <button id="searchButton" class="search-button">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
    </nav>

<h2 class="cargar-libro">Cargar un libro</h2>
    

<div class="form-container">
    <div class="contact-page">
        <form action="#URL DE API" method="post" enctype="multipart/form-data">
            <div class="nombre-form">
                <fieldset>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre libro" autocomplete="on" required>
                </fieldset>
            </div>
            <div class="genero-form">
                <fieldset>
                    <input type="text" name="genero" id="genero" placeholder="Género" autocomplete="on" required>
                </fieldset>
            </div>
            
            <div class="descripcion-form">
                <fieldset>
                    <textarea name="descripcion" class="form-control" id="descripcion" placeholder="Descripción del libro" required></textarea>  
                </fieldset>
            </div>
            
            <div class="portada-form">
                <fieldset>        
                    <input type="file" name="portada" id="portada" accept="image/*" required>        
                </fieldset>        
            </div>

            <div class="button-form">
                <button class="btn btn-4 btn-sep icon-send">Enviar</button>
            </div>                
        </form> 
    </div>
</div>

{% include 'footer.html' %}

<script src="{{url_for('static', filename='js/script_home.js')}}"></script>


</body>

</html>
