<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_details.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_home.css')}}">
</head>

<body>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_details.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_footer.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_home.css')}}">
</head>

<body>
    <main id="book-details-container">
    </main>

    <div id="map-container">
        <button class="close-map-btn" onclick="closeMaps()">Cerrar</button>
        <iframe id="map" frameborder="0" allowfullscreen></iframe>
    </div>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script_details.js') }}"></script>

</body>

</html>

    <main id="book-details-container">
    </main>

    <div id="map-container">
        <button class="close-map-btn" onclick="closeMaps()">Cerrar</button>
        <iframe id="map" frameborder="0" allowfullscreen></iframe>
    </div>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script_details.js') }}"></script>

</body>

</html>
