<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hover Flip Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

    <div class="flip-card-container">
        <div class="flip-card">
            <div class="flip-card-front">
                <h2>Welcome to MuhilanOrg</h2>
                <p>Empowering communities with innovative solutions and a commitment to sustainable development. Join us
                    in making a meaningful impact.</p>
            </div>
            <div class="flip-card-back">
                <h2>About MuhilanOrg</h2>
                <p>Discover how MuhilanOrg drives positive change through education, technology, and environmental
                    initiatives. Be a part of a brighter future.</p>
                <button class="button">Learn More</button>
            </div>
        </div>

    </div>


    <!--Social Liks codings below-->
    <a id="source-link" class="meta-link" href="https://t.me/codewith_muhilan" target="_blank">
        <i class="fas fa-link"></i>
        <span class="roboto-mono">Join my Telegram</span>
    </a>

    <a id="yt-link" class="meta-link" href="https://www.youtube.com/@codewith_muhilan?sub_confirmation=1"
        target="_blank">
        <i class="fab fa-youtube"></i>
        <span> Subscribe my channel</span>
    </a>

    <a id="Fund-link" class="meta-link" href="https://www.buymeacoffee.com/codewithmuhilan" target="_blank">
        <i class="fas fa-dollar-sign"></i>
        <span> Show your Support..❤</span>
    </a>
</body>

</html>