<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibrosEnRed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_home.css')}}">
</head>

<body>
    <nav>
        <img class="logo" src="{{url_for('static', filename='images/Logo.png')}}">
        <ul>
            <li><a href="{{url_for('Home')}}"><i class="fa-solid fa-home nav-icon"></i> Inicio</a></li>
            <li><a href="#"><i class="fa-solid fa-mobile nav-icon"></i> App</a></li>
        </ul>
        <div class="search-container">
            <input type="text" id="searchInput" class="search-input" placeholder="Search..." />
            <button id="searchButton" class="search-button">
                <i class="fa-solid fa-search"></i>
            </button>
        </div>
        <button class="cta-button"> <a class="links" href="{{url_for('Login')}}">Sign In</a></button>
    </nav>
    <div class="categorias">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
        <div class="contenedor-carousel">
            <div class="carousel">
                {% for genero in generos %}
                    <div class="categoria">
                        <button class="button-genero"><a class="links" href="{{url_for('Genero', genero=genero)}}">{{ genero }}</a></button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
    
    <div class="main-content">
        <h2>Libros</h2>
        <div class="libros">
            <button role="button" id="flecha-izquierda-libros" class="flecha-izquierda-libros"><i class="fas fa-angle-left"></i></button>
            <div class="contenedor-carousel-libros">
                <div class="carousel-libros">
                    
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                    <div class="libro">
                        <img src="{{url_for('static', filename='images/Logo.png')}}" alt="Libro 1">
                        <div class="info">
                            <h3>Libro 1</h3>
                            <p>Descripcion de libro 1.</p>
                        </div>
                    </div>
                </div>
            </div>
            <button role="button" id="flecha-derecha-libros" class="flecha-derecha-libros"><i class="fas fa-angle-right"></i></button>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script_home.js')}}"></script>
    <footer>
        <div class="footer-content">
            <div class="footer-top">
                <div class="footer-logo">
                    <div class="logo">LibrosEnRed</div>
                </div>
                <div class="footer-links">
                    <div class="footer-link-section">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="#">Preguntas frecuentes</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-section">
                        <h3>Sobre nosotros</h3>
                        <ul>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="footer-link-section">
                        <h3>Contactanos</h3>
                        <ul>
                            <li><a href="mailto:support@muhilanstore.com">xxxxx@mail.com</a></li>
                            <li><a href="tel:+1234567890"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p>&copy; Derechos reservados a los que robamos los templates.</p>
            </div>
        </div>
    </footer>
</body>

</html>