{% extends 'base.html' %}
{% block categorias %}
    <div class="categorias">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>
        <div class="contenedor-carousel">
            <div class="carousel">
                {% for genero in generos %}
                    <div class="categoria">
                        <form action="{{url_for('genero',cat=genero)}}">
                            <button class="button-genero">{{ genero }}</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
    </div>
{% endblock %}
