<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_profile.css')}}">
</head>

<body data-user-id="{{ user_id }}">
    <header>
        <nav>
            <i id="logo" class="fa-solid fa-book nav-icon"></i>
            <ul>
                <li><a href="{{url_for('home')}}"><i class="fa-solid fa-home nav-icon"></i> Inicio</a></li>
                <li><a href="#"><i class="fa-solid fa-mobile nav-icon"></i> App</a></li>
                <li><a href="{{url_for('cargar')}}"><i class="fa-solid fa-upload nav-icon"></i> Cargar</a></li>
            </ul>
            <div class="search-container">
                <input type="text" id="searchInput" class="search-input" placeholder="Search..." />
                <button id="searchButton" class="search-button">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
        </nav>
    </header>
    <section class="sidebar">
        <header>
            <div id="Name_profile"> {{ user.username if user and user.username else 'Nombre de Usuario' }} </div>
            <img id="Profile"
                src="{{ user.profile_photo if user and user.profile_photo else url_for('static', filename='images/Perfil.jpg') }}"
                alt="profile_photo">
            <div id="Maps"></div>
        </header>
        {% if request.path == '/perfil' %}
        <span id="separacion">Comentarios</span>
        {% else %}
        <section id="comments">
            <textarea name="comment_area" id="comment_area"></textarea>
            <button id="comments_button"><a href="#">Comentar </a></button>
            <span id="separacion">Comentarios</span>
        </section>
        {% endif %}

        <section class="footer">
            <span>Puntua este perfil</span>
            <div class="star-rating">
                <input type="radio" id="star1" name="rating" value="1"><label for="star1" class="star"></label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2" class="star"></label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3" class="star"></label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4" class="star"></label>
                <input type="radio" id="star5" name="rating" value="5"><label for="star5" class="star"></label>
            </div>
            {% if request.path == '/perfil' %}
            <button id="Edit_profile">Editar perfil</button>
            <div id="editProfileModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Editar Perfil</h2>
                    <form id="editProfileForm" class="modal-form">
                        <label for="username">Nuevo Nombre de Usuario</label>
                        <input type="text" id="username" name="username" placeholder="Ingresa tu nuevo nombre">

                        <label for="googlePhotosLink">Nueva Foto de Perfil</label>
                        <input type="text" id="googlePhotosLink" name="googlePhotosLink"
                            placeholder="Ponga un link de una foto">

                        <button type="submit">Guardar Cambios</button>
                    </form>
                </div>
            </div>
            {% endif %}

        </section>
    </section>
    <main class="main">
        <div class="contenedor-carousel-libros">
            <div class="carousel-libros" id="carousel-libros" name="carousel-libros">
                {% for libro in libros %}
                {% if libro.owner_id == user_id %}
                <div class="contenedor-flip">
                    <div class="flip-libro">
                        <div class="libro-frente">
                            <img src="{{ libro.photo }}" alt="${libro.name}">
                        </div>
                        <div class="libro-atras">
                            <h3>{{ libro.name }}.</h3>
                            <p>De {{ libro.author }}.</p>
                            <p>Género: {{ libro.genre }}.</p>
                            {% if libro.availability_status == 0 %}
                            <p>Estado: Disponible.</p>
                            {% else %}
                            <p>Estado: No disponible.</p>
                            {% endif %}
                            <button class="button">
                                <a href="{{url_for('detalle',idLibro=libro.id)}}">Ver más</a>
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </main>
    <script src="{{url_for('static', filename='js/script_books_profile.js')}}"></script>
    <script src="{{url_for('static', filename='js/script_profile.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script_edit_profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script_comments.js') }}"></script>
</body>

</html>