<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_profile.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style_footer.css')}}">
</head>

<body>
    <header>
        <nav>
            <i id="logo" class="fa-solid fa-book nav-icon"></i>
            <ul>
                <li><a href="{{url_for('Home')}}"><i class="fa-solid fa-home nav-icon"></i> Inicio</a></li>
                <li><a href="#"><i class="fa-solid fa-mobile nav-icon"></i> App</a></li>
                <li><a href="{{url_for('Cargar')}}"><i class="fa-solid fa-upload nav-icon"></i> Cargar</a></li>
            </ul>
            <div class="search-container">
                <input type="text" id="searchInput" class="search-input" placeholder="Search..." />
                <button id="searchButton" class="search-button">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
        </nav>
    </header>
    <section class="sidebar">
        <header>
            <div id="Name_profile">Leonardo Alberto Alcantara Masias</div>
            <img id="Profile" src="{{url_for('static', filename='images/Perfil.jpg')}}">
        </header>
        <section id="comments">
            <textarea name="comment_area" id="comment_area"></textarea>
            <button id="comments_button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Comentar </a></button>
            <span id="separacion">Comentarios</span>
            <span class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat quia autem, repellendus doloremque imped</span>
            <span class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat quia autem, repellendus doloremque imped</span>
            <span class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat quia autem, repellendus doloremque imped</span>
            <span class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt fugiat quia autem, repellendus doloremque imped</span>
        </section>
        <section class="footer">
            <span>Puntua este perfil</span>
            <div class="star-rating">
                <input type="radio" id="star1" name="rating" value="1"><label for="star1" class="star"></label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2" class="star"></label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3" class="star"></label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4" class="star"></label>
                <input type="radio" id="star5" name="rating" value="5"><label for="star5" class="star"></label>
            </div>
            <button id="Edit_profile">Editar perfil</button>
        </section>
    </section>
    <main class="main">
        <div class="libros">
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 1</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 2</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 3</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 4</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 5</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 6</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 7</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 8</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 9</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
            <div class="contenedor-flip">
                <div class="flip-libro">
                    <div class="libro-frente">
                        <img src="{{url_for('static', filename='images/Libro1.jpg')}}" alt="Libro 1">
                    </div>
                    <div class="libro-atras">
                        <h3>Libro 10</h3>
                        <p>Estado de libro</p>
                        <button class="button"><a href="{{url_for('Detalle',idLibro='idLibro')}}">Ver más.</a></button>
                    </div>
                </div>
            </div>
    </main>

    <script src="{{url_for('static', filename='js/script_home.js')}}"></script>
    <script src="{{url_for('static', filename='js/script_details.js')}}"></script>
</body>

</html>